@model List<string>

@{
    ViewBag.Title = "Tweepics";
    ViewBag.CssClass = "container-fluid tags-background";
    ViewBag.Navbar = "navbar-all-tags";
}

<h1 class="home-slogan">One Nation under 280 characters</h1>
<div class="vertical-center">
    <div class="container">
        @for (int i = 0; i < Model.Count; i += 3)
        {
            <div class="row">
                <div class="col">
                    <a class="btn btn-block tags-primary"
                       asp-action="Topic" asp-controller="Display"
                       asp-route-tag="@Model[i]">@Model[i]</a>
                </div>
                <div class="col">
                    @if (i + 1 < Model.Count)
                    {
                        <a class="btn btn-block tags-primary"
                           asp-action="Topic" asp-controller="Display"
                           asp-route-tag="@Model[i + 1]">@Model[i + 1]</a>
                    }
                    else
                    {
                        <div>
                        </div>
                    }
                </div>
                <div class="col">
                    @if (i + 2 < Model.Count)
                    {
                        <a class="btn btn-block tags-primary"
                           asp-action="Topic" asp-controller="Display"
                           asp-route-tag="@Model[i + 2]">@Model[i + 2]</a>
                    }
                    else
                    {
                        <div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>