<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Maven+Pro|Montserrat|Raleway|Tangerine" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="@ViewBag.Body">
    <div>
        <nav class="navbar navbar-default @ViewBag.Navbar">
            <a class="navbar-brand name-default @ViewBag.Name"
               asp-action="Index" asp-controller="Home">TWEEPICS</a>
        </nav>
        <div>
            @RenderBody()
            <footer class="footer">
                @RenderSection("footer", required: false)
            </footer>
        </div>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="~/node_modules/popper.js/dist/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
